/* GENERAL */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}
.inactive {
  display: none;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Navbar (General) */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.logo {
  width: 100px;
}

.navbar-left ul,
.navbar-right ul {
  height: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  display: flex;
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  cursor: pointer;
  color: var(--very-light-pink);
  font-size: var(--sm);
}
.navbar-email:hover {
  color: var(--hospital-green);
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -10px;
  right: -3px;
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
}

/* Menú Desktop */

.desktop-menu {
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: var(--white);
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu en mobile */

.mobile-menu {
  background-color: var(--white);
  position: absolute;
  top: 61px;
  padding: 24px;
  width: calc(100% - 48px);
  left: 0;
  z-index: 1;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  /* margin-bottom: 24px; */
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu .email {
  font-size: 12px;
  font-weight: 500;
}

.mobile-menu > ul:first-child {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li a.sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.mobile-menu ul:nth-child(3) {
  position: absolute;
  bottom: 0;
}

/* Aside (Product detail y carrito) */

aside {
  background-color: var(--white);
  position: absolute;
  right: 0;
  width: 360px;
  box-sizing: border-box;
  z-index: 1;
}

/* ShoppingCart */

#shoppingCartContainer{
  padding: 0 24px;
}

.my-order {
  width: 100%;
  display: grid;
  place-items: center;
}

.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 16px;
}

.title {
  font-size: var(--lg);
}

.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.my-order-content {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:first-child {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.order p span:first-child {
  font-size: var(--md);
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 500;
  height: 50px;
}

/* ProductDetail */
.product-detail-close {
  background-color: var(--white);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}

.product-detail-close img {
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-detail-close:hover {
  cursor: pointer;
}

#productDetail > img:nth-child(2){
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}

#productDetail .product-info {
  margin: 24px 24px 0 24px;
}

#productDetail .product-info p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

#productDetail .product-info p:nth-child(2){
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 36px;
}

#productDetail .product-info p:nth-child(3){
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 500;
  height: 50px;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-gap: 20px;
  gap: 28px;
  place-content: center;
  margin-top: 20px;
}

.product-card {
  width: 240px;
}

.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-card .product-info div p:first-child {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-card .product-info div p:nth-child(2) {
  font-size: var(--md);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 0;
}

.product-card .product-info figure img {
  width: 35px;
  height: 35px;
}

.product-card .product-info figure {
  margin: 0;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-right email {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .desktop-menu {
    display: none;
  }

  aside {
    width: 100%;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .product-card {
    width: 140px;
  }

  .product-card img {
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
  }
}

@media (min-width: 641px) {
  .mobile-menu {
    display: none;
  }
}
